@import "colours";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

.titlecase {
	text-transform: capitalize;
}

body {
	font-family: 'PT Serif';
	background-color: $light-grey;
}